body {
  background-color: #282c34;
}

.Header {
  color: red;
  margin-bottom: 4em;
}

.Content {
  color: #fff;
}

.Content {
  /* background-color: rgb(193, 189, 179); */
  margin-top: 50px;
  padding: 10px;
  height: 100vh;
  margin-bottom: 40vh;
}