body {
  background-color: #282c34;
  color: #fff;
}

body a {
  color: #aaa;
  text-decoration: none;
}

.Header {
  color: red;
  margin-bottom: 4em;
}

.Content {
  color: #fff;
}

.Content {
  padding: 10px;
}

h1 {
  color: #fff;
}